@media (min-width: 1600px)
  .aside-orders-fixed
    width: 30vw !important

@media (max-width: 1200px)

  .orders__sort > .pull-right
    float: left !important
    margin-left: -.7rem

  .aside__row
    padding: 0 2.5rem !important

  .input-search+i.fa
    right: 3.5rem !important

@media (max-width: 992px)
  .aside-orders-fixed
    width: 35vw !important

  .section-orders__status
    margin-top: 2rem !important
    margin-left: 12rem

  .orders
    &__title
      margin-bottom: 3rem
    &__sort
      margin-bottom: 3rem

@media (max-width: 767px)
  .aside-orders-fixed
    position: relative !important
    width: auto !important
    height: auto !important
    z-index: 100 !important

  //.header__icon-menu
  //  position: absolute
  //  top: 0
  //  right: 2rem

  .navbar-toggle
    position: relative
    top: .5rem

  .banner__button
    position: relative !important
    top: 0 !important
    margin-top: 2rem

  #menu-main
    position: relative
    z-index: 9999
    background: #0078a6
    & ul.menu-main__list
      width: 100%
      & li.menu-main__item
        display: block
        & a.menu-main__link
          display: block
          & + ul.menu-main__list-dropdown
            position: relative
            top: 0

  .orders
    &__title
      margin-bottom: 0

  .section-orders__status
    margin-top: 2rem !important
    margin-left: 12rem !important

  .logo__title
    display: none !important

@media (max-width: 600px)
  .banner
    padding: 2rem !important

@media (max-width 500px)
  .banner__button
    display: block !important
    margin: 1rem

  .section-orders__title
    padding: 0 !important
    text-align: center
    padding-top: 2rem !important
    min-width: 30rem
    margin-left: -1rem
    font-size: 1.6rem !important

  .section-orders__publish
    padding: 0 2rem !important

  .section-orders__label
    display: block !important
    text-align: left !important
    margin: 0 !important

  .section-orders__par
    padding-left: 2rem

  .section-orders__status
    margin-left: 2rem !important

  .orders__sort
    height: 9rem !important

@media (max-width: 400px)
  .header__icon-menu
    &-login a
      font-size: 1.3rem !important
    position: absolute
    top: 7.5rem !important
    left: -5rem !important
    right: 0 !important

  .navbar-toggle
    top: .8rem !important

  .header__logout
    position: absolute
    top: 0
    right: 0