@media (max-width: 992px)
  .orders
    &__title
      margin-bottom: 3rem
    &__sort
      margin-bottom: 3rem

@media (max-width: 767px)
  #menu-main
    position: relative
    z-index: 9999
    background: #0078a6
    & ul.menu-main__list
      width: 100%
      & li.menu-main__item
        display: block
        & a.menu-main__link
          display: block
          & + ul.menu-main__list-dropdown
            position: relative
            top: 0

  .orders
    &__title
      margin-bottom: 0

  .section-orders__status
    margin-top: 2rem !important
    margin-left: 12rem !important

  .logo__title
    display: none !important

@media (max-width: 600px)
  .banner
    padding-left: 2rem !important

@media (max-width 500px)
  .section-orders__title
    width: 100%
    padding: 0 !important
    text-align: center
    padding-top: 2rem !important
    margin-left: 2rem

  .section-orders__publish
    padding: 0 2rem !important

  .section-orders__label
    display: block !important
    text-align: left !important
    margin: 0 !important

  .section-orders__par
    padding-left: 2rem

  .section-orders__status
    margin-left: 2rem !important

  .orders__sort
    height: 8rem !important

@media (max-width: 400px)
  .header__icon-menu
    display: none !important