.header
  position: fixed
  top: 0
  z-index: 5000
  background: #fff
  width: 100%
  &__panel
    height: 8rem
  &__menu
    height: 7rem
    background-color: #0078a6
  &__icon-menu
    display: inline-block
    line-height: 8rem
  &__user
    display: inline-block
  &__logout
    float: right
    display: inline-block
    line-height: 8rem

.user-header
  position: relative
  &__logo
    position: absolute
    top: 1.5rem
    left: 0
    border-radius: 50%
  &__name
    display: block
    color: #000
    padding-left: 6.5rem
    padding-top: 1.8rem
    text-transform: capitalize
    font-size: 1.5rem
    font-weight: 600
  &__role
    font-size: 1.4rem
    padding-left: 6.5rem
    opacity: .5