.header
  background: #fff
  width: 100%
  &__search
    line-height: 6.5rem
    margin-right: 1rem
    & a
      color: #fff
      & i.fa
        margin-left: 1rem
      &:hover
        color: #fff
  &__panel
    height: 8rem
  &__menu
    height: 7rem
    background-color: #0078a6
    z-index: 11000
    &-fixed
      position: fixed
      top: 0
      width: 100%
      z-index: 9999
  &__icon-menu
    display: inline-block
    line-height: 8rem
    &-fixed
      position: fixed
      z-index: 10000
      line-height: 0
      top: 3.5rem!important
      right: 10rem!important
      left: unset!important
    &-login
      width: 100%
    &-mobile
      line-height: 6.5rem
      margin-right: 2rem
      & a
        color: #fff
        opacity: 1
        &:hover
          opacity: .9
          color: #fff
  &__user
    display: inline-block
  &__logout
    float: right
    display: inline-block
    line-height: 8rem
    &-fixed
      position: fixed
      z-index: 10000
      line-height: 0
      top: 3.5rem
      right: 7rem

.user-header
  position: relative
  &__logo
    position: absolute
    top: 1.5rem
    left: 0
    border-radius: 50%
  &__name
    display: block
    color: #000
    padding-left: 6.5rem
    padding-top: 1.8rem
    text-transform: capitalize
    font-size: 1.5rem
    font-weight: 600
  &__role
    font-size: 1.4rem
    padding-left: 6.5rem
    opacity: .5