.orders
  &__title
    font-size: 1.6rem
    height: 5rem
  &__sort
    height: 5rem
  &__text
    display: inline-block
    font-weight: 600
    color: #000
    font-size: 1.2rem
    margin-right: 2rem
  &__link
    display: inline-block
    margin-right: 2rem
    font-size: 1.2rem
    color: #000
    opacity: .5
    &:hover,
    &:active,
    &:focus
      color: #0078a6
    &:last-of-type
      margin-right: 0
    &-active
      color: #0078a6
      opacity: 1

.aside-orders
  text-align: center
  &__button
    & > i.fa
      margin-left: 1rem
  &-fixed
    position: fixed
    top: 0
    width: 26.5rem

.section-orders
  position: relative
  padding-right: 3rem
  &__logo
    position: absolute
    top: 2rem
    left: 2rem
  &__title
    font-size: 1.8rem
    padding-left: 9rem
  &__link
    & + i.fa
      font-size: 1.2rem
      margin-left: .8rem
      color: #6bc272
      position: relative
      top: -.1rem
  &__publish
    color: #0078a6
    display: inline-block
    padding-left: 9rem
    padding-right: 2rem
    margin: 2rem 0
  &__rate
    color: #0078a6
  &__label
    display: inline-block
    width: 10rem
    opacity: .5
    text-align: right
    margin-right: 3rem
    margin-left: 2.5rem
  &__for
    color: #0078a6
  &__par
    margin-bottom: 1rem
    &:last-of-type
      margin-bottom: 0
  &__timer
    font-size: 1.6rem
    font-weight: 600
    color: #d87777
    & > i.fa
      margin-right: 1rem
  &__star
    font-size: 2rem
    color: #f6c900
    font-weight: 600
    margin-left: 2rem
    position: relative
    top: -.3rem
    &:hover,
    &:active,
    &:focus
      color: #f6c900
  &__status
    padding-left: 3.5rem
    border-left: .3rem solid #0078a6
    margin-top: 6.5rem
    &-par
      font-weight: 600
      font-size: 1.2rem
      margin-bottom: 1rem
      & i.fa
        font-size: 1.4rem
        color: #0078a6
        margin-right: 2rem
      & i.fa-balance-scale
        position: relative
        left: -.2rem
        margin-right: 1.4rem
      & > span
        color: #0078a6
        display: inline-block
        margin: 0 .5rem